.search-container {
  --border-color: transparent;
  --border-size: 0px;
  --height: 3rem;
  --background-color: #ffffffda;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container > input {
  width: 50%;
  height: var(--height);
  padding: 0 1rem 0 1rem;
  display: grid;
  place-items: center;

  background-color: var(--background-color);
  border: var(--border-size) solid var(--border-color);
  border-radius: 1rem 0 0 1rem;

  color: black;
  font-size: large;
  font-weight: 600;
}
.search-container > input::placeholder {
  color: gray;
}
.search-container > input:focus {
  outline: none;
}

.search-container > button {
  padding-right: 0.8rem;
  height: var(--height);
  display: grid;
  place-items: center;

  background-color: var(--background-color);
  border: var(--border-size) solid var(--border-color);
  border-radius: 0 1rem 1rem 0;
}
