.search-container {
  --border-color: transparent;
  --border-size: 0px;
  --height: 3rem;
  --background-color: #ffffffda;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container button {
  border: var(--border-size) solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 0 1rem 1rem 0;
  height: var(--height);
  padding-right: 0.8rem;
  display: grid;
  place-items: center;
}

.search-container input {
  border: var(--border-size) solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 1rem 0 0 1rem;

  color: black;
  font-weight: 600;
  font-size: large;
  width: 50%;
  padding: 0 1rem 0 1rem;
  height: var(--height);

  display: grid;
  place-items: center;
}

.search-container input::placeholder {
  color: gray;
}
.search-container input:focus {
  outline: none;
}
