.whole-list-container {
  --title-text-color: #fff;
  --background-color: #7ac4f5b9;

  margin-top: 2rem;
  margin-bottom: 1.5rem;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

@media (max-width: 768px) {
  .whole-list-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    row-gap: 1rem;
  }
}

.container {
  width: 90%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-color);
  border-radius: 2rem;

  overflow: hidden;
  position: relative;
}

.container > #title {
  padding: 1rem;

  font-size: 1.7rem;
  font-weight: 1000;
  color: var(--title-text-color);

  position: relative;
}
.container > #title > hr {
  width: 8rem;

  &::after {
    content: "";
    width: 0.5rem;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 29%;
    left: 50%;

    background-color: #fff;
    transform: rotate(45deg);
  }
}

.container > ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  scrollbar-width: none;
  list-style: none;
}
.container > ul > li {
  width: 90%;
}
.container > ul > #empty-message {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul > #empty-message > h2 {
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.3);
  }
}
