.whole-list-container {
  --title-text-color: #fff;
  --background-color: #7ac4f5b9;

  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 2rem;
}

.Checked-container,
.Unchecked-container {
  width: 40%;
  height: 53.5vh;

  background-color: var(--background-color);
  border-radius: 2rem;

  overflow: hidden;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whole-list-container .Unchecked-container #title1,
.whole-list-container .Checked-container #title2 {
  font-size: 1.7rem;
  font-weight: 1000;

  padding: 1rem;
  position: relative;

  color: var(--title-text-color);
}
.whole-list-container .Unchecked-container #title1 hr,
.whole-list-container .Checked-container #title2 hr {
  width: 8rem;

  &::after {
    content: "";
    width: 0.5rem;
    aspect-ratio: 1/1;
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: rotate(45deg);
  }
}

.Unchecked-container ul,
.Checked-container ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 80%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  scrollbar-width: none;
  list-style: none;
}

.Unchecked-container ul li,
.Checked-container ul li {
  width: 90%;
}

.Unchecked-container ul #empty-message,
.Checked-container ul #empty-message {
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.3);
    }
  }
}
