.toggle-container {
  --size-1: 2rem;
  --size-2: 4rem;
  --border-rad: 4rem;

  height: var(--size-1);
  width: var(--size-2);
  overflow: hidden;

  position: relative;
}

.toggle-container > #toggle-slider {
  display: none;
}

/* props to label when checkbox:unchecked */
#toggle-slider ~ label {
  content: "";
  width: var(--size-2);
  height: var(--size-1);
  position: absolute;
  top: 0px;
  left: 0px;

  background-color: #ffffff80;
  border-radius: var(--border-rad);

  transition: all 0.6s ease-in-out;
}
#toggle-slider ~ label::after {
  content: "";
  width: calc(var(--size-1) - 0.5rem);
  aspect-ratio: 1/1;
  position: absolute;
  top: 12%;
  left: 5%;

  background-color: #000000e0;
  border-radius: var(--border-rad);

  transition: all 0.3s ease-in-out;
}

/* if checkbox:checked then label props */
#toggle-slider:checked ~ label {
  background-color: #00000080;
}
#toggle-slider:checked ~ label::after {
  background-color: #ffffffe0;
  transform: translateX(2rem);
}
