.NavBar-container {
  display: grid;
  grid-template-columns: 1fr 4rem 6rem;
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 1rem;

  background: linear-gradient(to bottom, #ffffff60 5%, transparent 55%);
}

.NavBar-container > #Site-name {
  margin: 0 0 0 1rem;
  padding: 0 0 0 0;
  align-self: end;

  font-family: MainFont, sans-serif;
  font-weight: 100;
}

.NavBar-container > #Contact {
  justify-self: center;
  cursor: pointer;
}
