@font-face {
  font-family: MainFont;
  src: url(./components/resources/MainFont.ttf) format("truetype");
}
@font-face {
  font-family: SecondaryFont;
  src: url(./src/components/resources/SecondaryFont.ttf) format("truetype");
}

:root {
  margin: 0 0 0 0;
  font-family: SecondaryFont, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: linear-gradient(to top, white, black);
  color: whitesmoke;
}
body {
  --s: 140px; /* the size */
  --c: rgb(77, 152, 182);

  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, #bfb35a 68% 70%, #0000 72%;
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
      var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
}
