@font-face {
  font-family: MainFont;
  src: url(./components/resources/MainFont.woff2) format("woff2");
}
@font-face {
  font-family: SecondaryFont;
  src: url(./components/resources/SecondaryFont.woff2) format("woff2");
}

body {
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: SecondaryFont, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: #0e6baa;
  color: #fff;
}
